name: Push Updated Problem Bank Helpers to a specific Dependent Repo

on: 
  workflow_dispatch:
    inputs:
      version:
        type: string
        required: true
        description: 'Version being updated to'
      repo:
        type: string
        required: true
        description: 'Dependent repo to update'

jobs:
  push-to-question-bank:
    runs-on: ubuntu-latest
    if: ${{ github.actor_id == '2507459' || github.actor_id == '68259537' }}
    steps:
      - name: Checkout ${{ github.event.inputs.repo }}
        uses: actions/checkout@v6 
        with: # checks out default branch
          repository: ${{ github.event.inputs.repo }}
          token: ${{ secrets.PAT_GITHUB_PRAIRIELEARN }}
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - name: Update pbh version in serverFilesCourse
        run: |
          rm -rf serverFilesCourse/problem_bank_helpers serverFilesCourse/problem_bank_helpers-*.dist-info
          rm -rf serverFilesCourse/sigfig serverFilesCourse/sigfig-*.dist-info
          rm -rf serverFilesCourse/sortedcontainers serverFilesCourse/sortedcontainers-*.dist-info
          pip install problem_bank_helpers sigfig sortedcontainers --upgrade --no-deps --target serverFilesCourse
      - name: Commit and push updated serverFilesCourse
        run: |
          git config --global user.name 'fmoosvi'
          git config --global user.email 'firas.moosvi@ubc.ca'
          git add serverFilesCourse
          git commit -am "Automatic GH Action to update problem_bank_helpers to ${{ github.event.inputs.version }}"
          git push
